@import "modern-normalize";

html {
		font-size: 16px; /* set default so that our fluid typography can scale */
}

* {
		margin: 0;
		padding: 0;
		font-size: inherit;
}

html, body, div:has(main) {
		width: 100vw;
}

html, body {
		color: var(--color-text-primary);
		background-color: var(--background-color-primary);
}

body {
		min-height: 100vh;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: max-content 1fr max-content;
}

main {
		margin-bottom: auto;
		display: grid;
		grid-template-columns: [page-start] 1fr [grid-start] repeat(var(--grid-columns), 1fr) [grid-end] 1fr [page-end];
		grid-template-rows: max-content;
		column-gap: var(--grid-gutter);
		row-gap: calc(var(--grid-gutter) / 2);
		font-size: var(--font-size-0);

		> * {
				grid-row-start: var(--grid-row-start, auto);
				grid-row-end: var(--grid-row-end, auto);
				grid-column-start: var(--grid-column-start, grid-start);
				grid-column-end: var(--grid-column-end, grid-end);
		}
}

h1 {
		font-family: var(--font-family-headline);
		font-size: var(--font-size-5);
}
h2 {
		font-family: var(--font-family-headline);
		font-size: var(--font-size-4);
}
h3 {
		font-family: var(--font-family-headline);
		font-size: var(--font-size-3);
}
h4 {
		font-family: var(--font-family-headline);
		font-size: var(--font-size-2);
}
h5 {
		font-family: var(--font-family-headline);
		font-size: var(--font-size-1);
}
h6 {
		font-family: var(--font-family-headline);
		font-size: var(--font-size-0);
}
