@layer palette {
		:root {
				--palette-color-pure-black: #000000;
				--palette-color-black: #212529;
				--palette-color-white: #f8f9fa;
				--palette-color-pure-white: #ffffff;

				--palette-color-gray-100: var(--palette-color-black);
				--palette-color-gray-150: #282737;
				--palette-color-gray-200: #343a40;
				--palette-color-gray-300: #495057;
				--palette-color-gray-400: #6c757d;
				--palette-color-gray-500: #adb5bd;
				--palette-color-gray-600: #ced4da;
				--palette-color-gray-700: #dee2e6;
				--palette-color-gray-800: #e9ecef;
				--palette-color-gray-850: #f2f3f6;
				--palette-color-gray-900: var(--palette-color-white);

				--palette-color-blue-100: #03045E;
				--palette-color-blue-200: #023E8A;
				--palette-color-blue-300: #0077B6;
				--palette-color-blue-400: #0096C7;
				--palette-color-blue-500: #00B4D8;
				--palette-color-blue-600: #48CAE4;
				--palette-color-blue-700: #90E0EF;
				--palette-color-blue-800: #ADE8F4;
				--palette-color-blue-900: #CAF0F8;

				--palette-color-green-100: #10451D;
				--palette-color-green-200: #155D27;
				--palette-color-green-300: #1A7431;
				--palette-color-green-400: #208B3A;
				--palette-color-green-500: #25A244;
				--palette-color-green-600: #2DC653;
				--palette-color-green-700: #4AD66D;
				--palette-color-green-800: #6EDE8A;
				--palette-color-green-900: #92E6A7;

				--palette-color-red-100: #641220;
				--palette-color-red-200: #6E1423;
				--palette-color-red-300: #85182A;
				--palette-color-red-400: #A11D33;
				--palette-color-red-500: #A71E34;
				--palette-color-red-600: #B21E35;
				--palette-color-red-700: #BD1F36;
				--palette-color-red-800: #C71F37;
				--palette-color-red-900: #DA1E37;

				--palette-color-yellow-100: #805B10;
				--palette-color-yellow-200: #926C15;
				--palette-color-yellow-300: #A47E1B;
				--palette-color-yellow-400: #B69121;
				--palette-color-yellow-500: #C9A227;
				--palette-color-yellow-600: #DBB42C;
				--palette-color-yellow-700: #EDC531;
				--palette-color-yellow-800: #FAD643;
				--palette-color-yellow-900: #FFE169;

				--palette-color-brand-blue-1: #005689;
				--palette-color-brand-blue-2: #81d3ff;
				--palette-color-brand-green-1: #03855D;
				--palette-color-brand-red-1: #a82204;
		}
}

@layer utility {
		:root {
				--border-radius-button-sm: 6px;
				--border-radius-input-sm: 4px;
				--border-radius-overlay-sm: 4px;
				--border-radius-overlay-md: 6px;

				--border-style-default: solid;
				
				--border-width-default: 1px;

				--box-shadow-sm: 2px 2px 2px 3px;

				--font-family-calendar: "B612 Mono";
				--font-family-default: "Lexend";
				--font-family-headline: "Inter";

				--font-size--2: clamp(0.72rem, 0.6617rem + 0.2485vw, 0.96rem);
				--font-size--1: clamp(0.9rem, 0.8272rem + 0.3107vw, 1.2rem);
				--font-size-0: clamp(1.125rem, 1.034rem + 0.3883vw, 1.5rem);
				--font-size-1: clamp(1.4063rem, 1.2925rem + 0.4854vw, 1.875rem);
				--font-size-2: clamp(1.7578rem, 1.6156rem + 0.6068vw, 2.3438rem);
				--font-size-3: clamp(2.1973rem, 2.0195rem + 0.7585vw, 2.9297rem);
				--font-size-4: clamp(2.7466rem, 2.5244rem + 0.9481vw, 3.6621rem);
				--font-size-5: clamp(3.4332rem, 3.1555rem + 1.1851vw, 4.5776rem);
				--font-size-6: clamp(4.2915rem, 3.9443rem + 1.4814vw, 5.722rem);

				--font-size-date-picker-calendar: var(--font-size--1);
				--font-size-default: var(--font-size-0);
				--font-size-header-default1: var(--font-size-6);
				--font-size-header-default2: var(--font-size-5);
				--font-size-header-default3: var(--font-size-4);
				--font-size-header-default4: var(--font-size-3);
				--font-size-header-default5: var(--font-size-2);
				--font-size-header-default6: var(--font-size-1);
				--font-size-input-text: var(--font-size-1);
				--font-size-page-title: var(--font-size-5);

				--font-weight-default: 300;
				--font-weight-page-title: 800;

				--grid-max-width: 112.50rem;
				--grid-gutter: var(--space-s-2xl, clamp(1rem, 0.2201rem + 3.8043vw, 4.5rem));
				--grid-columns: 12;
				--grid-start: 2;
				--grid-middle: calc((var(--grid-columns) / 2) + 1);
				--grid-end: -2;

				--space-3xs: clamp(0.25rem, 0.2375rem + 0.0625vw, 0.3125rem);
				--space-2xs: clamp(0.5rem, 0.4875rem + 0.0625vw, 0.5625rem);
				--space-xs: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
				--space-s: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
				--space-m: clamp(1.5rem, 1.4625rem + 0.1875vw, 1.6875rem);
				--space-l: clamp(2rem, 1.95rem + 0.25vw, 2.25rem);
				--space-xl: clamp(3rem, 2.925rem + 0.375vw, 3.375rem);
				--space-2xl: clamp(4rem, 3.9rem + 0.5vw, 4.5rem);
				--space-3xl: clamp(6rem, 5.85rem + 0.75vw, 6.75rem);
				/* custom pairings for a different scale between little and big */
				--space-s-2xl: clamp(1rem, 0.3rem + 3.5vw, 4.5rem);

				--padding-button: var(--space-xs);
				--padding-button-md: 4px;
				--padding-button-lg: 6px;
				--padding-button-xl: 8px;
				--padding-date-picker-heading-button: var(--space-s);
				--padding-date-picker-overlay: var(--space-xs);
				--padding-input: 8px;
				--padding-list: 2px;
				--padding-list-item: 2px;
				--padding-overlay-lg: 16px;
				--padding-page-sm: 16px;

				--spacing-button-sm: 4px;
				--spacing-button-md: 6px;
				--spacing-button-lg: 8px;
				--spacing-form-sm: 6px;
				--spacing-form-md: 8px;
				--spacing-form-lg: 12px;
				--spacing-input: 6px;
				--spacing-list: 2px;
				--spacing-list-horizontal: 16px;
		}

		* {
				scrollbar-color: var(--palette-color-gray-300) var(--palette-color-black);
		}
}


@media (prefers-color-scheme: light) {
		:root {
				--background-color-button-default: var(--palette-color-gray-850);
				--background-color-button-default-active: var(--palette-color-gray-700);
				--background-color-button-default-hover: var(--palette-color-gray-800);
				--background-color-date-picker-overlay: var(--palette-color-white);
				--background-color-header: var(--palette-color-brand-blue-1);
				--background-color-info-chip: var(--palette-color-brand-blue-2);
				--background-color-input: var(--palette-color-gray-800);
				--background-color-input-default: var(--palette-color-pure-white);
				--background-color-list: var(--palette-color-gray-800);
				--background-color-listitem-hover: var(--palette-color-brand-blue-2);
				--background-color-overlay: var(--palette-color-gray-900);
				--background-color-primary: var(--palette-color-white);
				--background-color-table-row-even: var(--palette-color-gray-800);
				--background-color-table-row-hover: var(--palette-color-gray-700);
				--background-color-table-row-odd: var(--palette-color-gray-850);

				--border-input-default:
						var(--border-width-default)
						var(--border-style-default)
						var(--palette-color-gray-600);
				--border-overlay:
						var(--border-width-default)
						var(--border-style-default)
						var(--palette-color-gray-600);

				--box-shadow-overlay: var(--box-shadow-sm) var(--palette-color-gray-850);

				--color-button-default: var(--palette-color-gray-200);
				--color-header-text: var(--palette-color-white);
				--color-info-chip: var(--palette-color-gray-200);
				--color-input-error: var(--palette-color-red-800);
				--color-input-placeholder: var(--palette-color-gray-400);
				--color-text-disabled: var(--palette-color-gray-600);
				--color-text-hero: var(--palette-color-white);
				--color-text-info: var(--palette-color-brand-blue-1);
				--color-text-placeholder: var(--palette-color-gray-600);
				--color-text-primary: var(--palette-color-black);

				--outline-color-button-default: var(--palette-color-brand-blue-1);
		}

		* {
				scrollbar-color: var(--palette-color-gray-600) var(--palette-color-white);
		}
}

@media (prefers-color-scheme: dark) {
		:root {
				--background-color-button-default: var(--palette-color-gray-200);
				--background-color-button-default-active: var(--palette-color-gray-400);
				--background-color-button-default-hover: var(--palette-color-gray-300);
				--background-color-date-picker-overlay: var(--palette-color-black);
				--background-color-header: var(--palette-color-brand-blue-1);
				--background-color-info-chip: var(--palette-color-brand-blue-1);
				--background-color-input: var(--palette-color-gray-200);
				--background-color-input-default: var(--palette-color-gray-300);
				--background-color-list: var(--palette-color-gray-200);
				--background-color-listitem-hover: var(--palette-color-brand-blue-1);
				--background-color-overlay: var(--palette-color-gray-300);
				--background-color-primary: var(--palette-color-black);
				--background-color-table-row-even: var(--palette-color-gray-300);
				--background-color-table-row-hover: var(--palette-color-gray-400);
				--background-color-table-row-odd: var(--palette-color-gray-200);

				--border-input-default:
						var(--border-width-default)
						var(--border-style-default)
						var(--palette-color-gray-300);
				--border-overlay:
						var(--border-width-default)
						var(--border-style-default)
						var(--palette-color-gray-200);

				--box-shadow-overlay: var(--box-shadow-sm) var(--palette-color-gray-150);

				--color-button-default: var(--palette-color-gray-800);
				--color-info-chip: var(--palette-color-gray-700);
				--color-input-error: var(--palette-color-red-800);
				--color-input-placeholder: var(--palette-color-gray-500);
				--color-listitem-hover: var(--palette-color-black);
				--color-text-disabled: var(--palette-color-gray-400);
				--color-text-hero: var(--palette-color-white);
				--color-text-info: var(--palette-color-brand-blue-2);
				--color-text-placeholder: var(--palette-color-gray-400);
				--color-text-primary: var(--palette-color-white);

				--outline-color-button-default: var(--palette-color-brand-blue-1);
		}
}
