# used by postgres as defaults
POSTGRES_USER=wccowner
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_DB=wccdata

# used by the webapp
SERVICE_USER=wccuser
SERVICE_PASSWORD=${SERVICE_PASSWORD}

# used by psql to perform migrations
# we want the service user here so we can ensure all permissions are correct
PGUSER=${SERVICE_USER}
PGDATABASE=${POSTGRES_DB}
