# usernames, passwords, and other secrets are provided by the environment
# orchestrator, e.g. docker compose (for local envs) or fly.io (for cloud envs)

POSTGRES_USERNAME=${POSTGRES_USERNAME}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_HOSTNAME=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_DB=wccdata
PSQL_CONNECTION_STRING=postgres://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_HOSTNAME}:${POSTGRES_PORT}/${POSTGRES_DB}

SERVICE_USER=${SERVICE_USER}
SERVICE_PASSWORD=${SERVICE_PASSWORD}
