SESSION_SECRET=${SESSION_SECRET}
OAUTH_GOOGLE_CLIENT_ID=${OAUTH_GOOGLE_CLIENT_ID}
OAUTH_GOOGLE_CLIENT_SECRET=${OAUTH_GOOGLE_CLIENT_SECRET}

SERVICE_USER=${SERVICE_USER}
SERVICE_PASSWORD=${SERVICE_PASSWORD}
POSTGRES_CONNECTION_STRING=postgres://${SERVICE_USER}:${SERVICE_PASSWORD}@host.docker.internal:5432/wccdata
